.profile {
  text-align: center;
  position: relative;
  width: 100vw;
  justify-content: center;
  background: rgb(212, 212, 212);
  height: 100vh;
}
.description {
}
.avatar {
  height: 300px;
}
.stats {
  list-style: none;
  padding-left: 0;
}
