.statistics {
  border-radius: 7px;
  text-align: center;
  max-width: 400px;
  margin: auto;
}

.title {
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  font-weight: 700;
}

.stat-list {
  display: flex;
}

.item {
  width: 100%;
  max-width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

.item:last-child {
  border-bottom-right-radius: 10px;
}

.item:first-child {
  border-bottom-left-radius: 10px;
}
